@import 'variabless';
.price_tables {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 18px;
}

.price-card {
  height: 770px;
  width: 380px;
  background-color: $background-cards;
  position: relative;
  overflow: hidden;
  &__title {
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: $basic-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 33px 140px;
  }
  &__text {
    font-weight: 700;
  }
  &__sub-text {
    font-size: 20px;
    line-height: 24px;
  }
  &__price {
    height: 105px;
    width: 380px;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: $basic-text-color;
    padding: 19px 110px;
  }
  &__price-green {
    background-color: $background-title-green;
  }
  &__price-blue {
    background-color: $background-title-blue;
  }
  &__price-orange {
    background-color: $background-title-orange;
  }
  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $basic-text-color;
    width: 327px;
    height: 36px;
    margin: 40px 26px;
  }
  &__description-orange {
    font-weight: 400;
  }
  &__options-list {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $basic-text-color;
    padding-left: 0;
  }
  &__li {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 380px;
    height: 50px;

    position: relative;
  }
  &__li-icons {
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    margin: 0 22px;
    display: inline-block;
  }
  &__button-position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 39px 113px 40px 112px;
  }
  &__button {
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 154px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $basic-text-color;
  }
  &__button-green {
    background-color: #5bb189;
  }
  &__button-blue {
    background-color: #3a6ba5;
  }
  &__button-orange {
    background-color: #ec632a;
  }
  &__popular {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    top: 20px;
    bottom: 10px;
    right: -40px;
    transform: rotate(45deg);
    background-color: #dc3f45;
    color: $basic-text-color;
    width: 147px;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
    line-height: 25px;
  }
}
.price-card__li:nth-child(odd) {
  background-color: #2a3438;
}
.price-card-li-icons__greens {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
}
.price-card-li-icons__blue {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
}
.price-card-li-icons__orange {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
}
